html{height: 100%}
label{display: block}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    margin: 0;
}



